<template>
  <div class="charts">
    <chartjs-bar :labels="labels" :datasets="datasets" :option="option"></chartjs-bar>
  </div>
</template>

<script>

export default {
  name: 'Bar',
  data () {
    return {
      labels: ['JAN', 'FEB', 'MAR', 'APR', 'MEI', 'JUN', 'JUL', 'AGU', 'SEP', 'OKT', 'NOV', 'DES'],
      datasets: [{
        data: [20, 30, 50, 20, 30, 50, 20, 30, 50, 20, 30, 50],
        backgroundColor: ['#3498db', '#3498db', '#3498db', '#3498db', '#3498db', '#3498db', '#3498db', '#3498db', '#3498db', '#3498db', '#3498db', '#3498db']
      }],
      option: {
        legend: {
          display: false
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
