<template>
  <div class="charts">
    <chartjs-doughnut :labels="labels" :datasets="datasets" option="option"></chartjs-doughnut>
  </div>
</template>

<script>

export default {
  name: 'Doughnut',
  data () {
    return {
      labels: ['CASH', 'GO-PAY', 'MEMBERSHIP'],
      datasets: [{
        data: [25, 30, 45],
        backgroundColor: ['#3498db', '#2ecc71', '#f39c12']
      }],
      option: {
        title: {
          display: true,
          position: 'bottom',
          text: 'Fruits'
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
