<template>
  <div class="charts">
    <chartjs-pie :labels="labels" :datasets="datasets" option="option"></chartjs-pie>
  </div>
</template>

<script>

export default {
  name: 'Pie',
  data () {
    return {
      labels: ['Organic Search', 'Direct', 'Social', 'Other'],
      datasets: [{
        data: [25, 10, 55, 10],
        backgroundColor: ['#3498db', '#2ecc71', '#f39c12', '#95a5a6']
      }],
      option: {
        title: {
          display: true,
          position: 'bottom',
          text: 'Fruits'
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
