<template>
  <div class="gaskir py-3 mb-5">
    <div class="container">
      <h4 class="text-center text-lg-left my-3 font-weight-bolder">Tambah Petugas Parkir</h4>
      <div class="d-flex flex-column flex-lg-row">
        <UserList />
        <div class="card shadow doc-uploads mx-1">
          <h5 class="text-center font-weight-bold mt-4">Upload Dokumen Data Diri</h5>
          <div class="card-body">
            <div class="uploads d-flex flex-column flex-lg-row flex-sm-column justify-content-lg-between">
              <Upload upload="UPLOAD KTP" />
              <Upload upload="UPLOAD FOTO DIRI" class="mb-5" />
            </div>
            <FormParkir />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Upload from '@/components/Upload.vue'
import UserList from '@/components/UserList.vue'
import FormParkir from '@/components/FormParkir.vue'

export default {
  name: 'About',
  components: {
    UserList,
    FormParkir,
    Upload
  }
}
</script>

<style lang="scss" scoped>
  .card{
    border-radius: 8px;
  }
  .doc-uploads{
    width: 100%;
  }
</style>
