<template>
  <div class="home">
    <div class="container">
      <div class="report-card d-flex flex-column flex-md-column flex-lg-row">
        <Card title='KEDATANGAN' qty="2.500" color="blue" icons="fas fa-sign-in-alt" percentage="+30%" info="dari minggu lalu" />
        <Card title='PJP LAMA' qty="2.000" icons="fas fa-redo" percentage="+30%" info="dari minggu lalu" />
        <Card title='PJP BARU' qty="500" icons="fas fa-user-plus" percentage="+30%" info="dari minggu lalu" />
        <Card title='KELUAR' qty="500" icons="fas fa-sign-out-alt" percentage="+30%" info="dari minggu lalu" />
      </div>
      <div class="grafik-bar d-flex flex-column flex-lg-row">
        <CardGrafik title='TOTAL PEMASUKAN' qty="Rp.1.500.000" percentage="+30%" info="dari minggu lalu">
          <Bar />
        </CardGrafik>
        <CardGrafik title='MEMBERSHIP' qty="1.200" percentage="+30%" info="dari minggu lalu">
          <Bar />
        </CardGrafik>
      </div>
      <div class="grafik-bar d-flex flex-column flex-lg-row">
        <CardGrafik title='METODE PEMBAYARAN' percentage="+30%" info="dari minggu lalu">
          <Doughnut />
        </CardGrafik>
        <CardGrafik title='TRAFIK SITUS' percentage="+30%" info="dari minggu lalu">
          <Pie />
        </CardGrafik>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Card from '@/components/Card.vue'
import CardGrafik from '@/components/CardGrafik.vue'
import Bar from '@/components/Charts/Bar.vue'
import Doughnut from '@/components/Charts/Doughnut.vue'
import Pie from '@/components/Charts/Pie.vue'

export default {
  name: 'Home',
  components: {
    Card,
    Bar,
    CardGrafik,
    Doughnut,
    Pie
  }
}
</script>

<style lang="scss" scoped>
  .home{
    padding: 20px 0;
  }
  .blue{
    color: #eaeaea;
  }

</style>
