<template>
  <div class="card shadow text-black text-center mb-3 p-3">
    <div class="card-body">
      <div class="description text-center">
        <h6>{{ title }}</h6>
        <h5 class="font-weight-bold">{{ qty }}</h5>
      </div>
      <slot></slot>
    </div>
    <footer class="text-success py-2">
      <b>{{ percentage }}</b> {{ info }}
    </footer>
  </div>
</template>

<script>
export default {
  name: 'CardGrafik',
  props: [
    'title',
    'qty',
    'percentage',
    'info'
  ]
}
</script>

<style lang="scss" scoped>
  h5, h2{
    margin: 0;
  }
  .card{
    padding: 0 !important;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
  }
  .icon{
    font-size: 4em;
  }
  .description{
    background-image: url('https://i.ya-webdesign.com/images/login-icon-png-6.png');
  }
  footer{
    background-color: #ffc0cb;
  }
  @media (min-width: 992px) {
    .card{
      margin: 0 10px 20px;
    }
  }
</style>
