<template>
  <div class="card shadow text-black text-center mb-3">
    <div class="card-body d-flex align-items-center justify-content-between">
      <div class="description text-left">
        <h6>{{ title }}</h6>
        <h2 class="font-weight-bold text-success">{{ qty }}</h2>
      </div>
      <div class="icon">
        <i :class="icons"></i>
      </div>
    </div>
    <footer class="footer text-success py-2 px-1">
      <b>{{ percentage }}</b> {{ info }}
    </footer>
  </div>
</template>

<script>
export default {
  name: 'Card',
  props: [
    'title',
    'qty',
    'percentage',
    'info',
    'icons'
  ]
}
</script>

<style lang="scss" scoped>
  .card{
    width: 100%;
    padding: 0 !important;
    border-radius: 8px;
    overflow: hidden;
  }
  .card-body{
    padding: 20px 20px 0 !important;
  }
  .icon{
    font-size: 4em;
    color: #cacaca;
  }
  .description{
    background-image: url('https://i.ya-webdesign.com/images/login-icon-png-6.png');
  }
  footer{
    background-color: #ffc0cb;
  }
  @media (min-width: 992px) {
    .card{
      margin: 0 10px 20px;
    }
  }
</style>
