<template>
  <footer class="d-flex flex-column flex-lg-row bg-white text-center py-3 px-3">
    <div class="logo">
      <img src="http://soulparking.co.id/images/logo.png" alt="logo">
    </div>
    <div class="text-footer">
      Copyright &copy; 2020
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer'
}
</script>

<style lang="scss" scoped>

</style>
