<template>
  <div class="form-parkir mb-4">
    <h5 class="font-weight-bold mb-3">
      Informasi Lokasi Parkir
    </h5>
    <div class="card mb-5">
      <div class="card-body">
        <form class="font-weight-bold d-flex flex-column flex-lg-row flex-xl-row">
          <div class="form-info">
            <div class="form-group">
              <label for="name">Nama Petugas Parkir</label>
              <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
              <label for="nik">NIK</label>
              <input type="text" class="form-control" id="nik">
            </div>
          </div>
          <div class="form-info">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
              <label for="telpon">No. Telpon</label>
              <input type="text" class="form-control" id="telpon">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Aktif</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="button-action my-3 d-flex justify-content-between">
      <button type="submit" class="btn btn-outline-danger font-weight-bold">BATAL</button>
      <button type="submit" class="btn btn-warning text-white font-weight-bold">SIMPAN</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FormParkir'
}
</script>

<style lang="scss" scoped>
  .card{
    border-radius: 8px;
  }
  .form-info{
    width: 100%;
    margin: 0 8px;
  }
</style>
