<template>
  <nav class="navbar navbar-dark bg-dark d-flex align-items-center justify-content-between">
    <div class="toggle text-warning" @click="$emit('clicked')">
      <i class="fas fa-bars"></i>
    </div>
    <div class="search d-flex">
      <div class="bg-white px-4 py-1 select">DKI Jakarta</div>
      <div class="bg-warning px-3 text-light py-1 add">
        <i class="fas fa-plus"></i>
      </div>
    </div>
    <div class="img-profile"></div>
  </nav>
</template>

<script>
// import Search from '@/components/Search.vue'

export default {
  name: 'Navbar'
  // components: {
  //   Search
  // }
}
</script>

<style lang="scss" scoped>
  .toggle{
    font-size: 2em;
    cursor: pointer;
  }
  .search{
    .select{
      border-radius: 8px 0 0 8px;
    }
    .add{
      border-radius: 0 8px 8px 0;
    }
  }
  .img-profile{
    width: 40px;
    height: 40px;
    background-color: orange;
    border-radius: 50%;
  }
</style>
