<template>
  <div class="search d-flex align-items-center">
    <div class="input-group mb-3">
      <select class="custom-select" id="inputGroupSelect02">
        <option selected>DKI Jakarta</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <div class="input-group-append bg-warning px-1 text-white">
        <button class="btn text-white" type="button">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Search'
}
</script>

<style lang="scss" scoped>
  select{
    border-radius: 8px;
  }
  .input-group-append{
    border-radius: 0 8px 8px 0;
  }
</style>
