<template>
  <div class="sidebar bg-white shadow pb-5">
    <div class="logo text-center py-4">
      <img src="http://soulparking.co.id/images/logo.png" alt="logo">
      <p class="font-weight-bold">Management System</p>
    </div>
    <div class="menu">
      <li class="item">
        <router-link to="/" class="d-block menu-header font-weight-bold"><i class="fab fa-microsoft"></i>  Dashboard</router-link>
      </li>

      <li class="item" id="pelaporan">
        <a href="#pelaporan" class="d-block menu-header font-weight-bold"><i class="fab fa-elementor"></i>  Pelaporan</a>
        <div class="smenu">
          <router-link class="d-block" to="/">Laporan Trafik</router-link>
          <router-link class="d-block" to="/">Laporan Pendapatan</router-link>
          <router-link class="d-block" to="/">Pengaduan</router-link>
          <router-link class="d-block" to="/">Laporan Member</router-link>
          <router-link class="d-block" to="/">Laporan GasKir</router-link>
          <router-link class="d-block" to="/">Laporan Aplikasi</router-link>
        </div>
      </li>

      <li class="item" id="pengaturan">
        <a href="#pengaturan" class="d-block menu-header font-weight-bold"><i class="fas fa-cog"></i>  Pengaturan</a>
        <div class="smenu">
          <router-link class="d-block" to="/">Info Lokir</router-link>
          <router-link class="d-block" to="/">Tarif</router-link>
          <router-link class="d-block" to="/gaskir">GasKir</router-link>
          <router-link class="d-block" to="/">Shift</router-link>
          <router-link class="d-block" to="/">Produk</router-link>
          <router-link class="d-block" to="/">Pemutihan Kendaraan</router-link>
          <router-link class="d-block" to="/">Aktivasi Member</router-link>
          <router-link class="d-block" to="/">Pengaturan Pengguna</router-link>
        </div>
      </li>

      <li class="item" id="sistem-admin">
        <a href="#sistem-admin" class="d-block menu-header font-weight-bold"><i class="fas fa-user"></i>  Sistem Admin</a>
        <div class="smenu">
          <router-link class="d-block" to="/">Lokir</router-link>
          <router-link class="d-block" to="/">Pengguna</router-link>
          <router-link class="d-block" to="/">Hardware</router-link>
        </div>
      </li>

      <li class="item">
        <a href="#" class="d-block menu-header font-weight-bold"><i class="fas fa-user-circle"></i>  Sistem Admin</a>
      </li>

      <li class="item">
        <a href="#" class="d-block menu-header font-weight-bold"><i class="fas fa-sign-out-alt"></i>  Keluar</a>
      </li>
    </div>
  </div>
</template>

<script>
export default {
  name: 'sidebar'
}
</script>

<style lang="scss" scoped>
  .sidebar{
    width: 280px;
    height: 100vh;
    position: fixed;
    z-index: 2;
    overflow-y: scroll;
    margin-left: -280px;
    transition: 1s;
  }
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  p{
    margin: 0;
  }
  li{
    list-style: none;
  }
  .menu-header{
    padding: 16px 20px;
    background-color: #eaeaea;
  }
  .item{
    border-top: 1px solid #dedede;
  }
  .smenu{
    overflow: hidden;
    transition: 0.8s;
    max-height: 0;
  }
  .smenu a{
    font-size: 0.9em;
    padding: 16px 26px;
    position: relative;
  }
  .item:target .smenu{
    max-height: 30em;
  }
  .smenu a:hover{
    background-color: orange;
    color: #ffffff;
    transition: .5s;
  }
</style>
