<template>
  <div class="upload mb-3 mx-1">
    <div class="card">
      <div class="card-body d-flex flex-column justify-content-center">
        <div class="shadow card mb-4">
          <div class="card-body text-center icon">
            <i class="fas fa-cloud-upload-alt"></i>
          </div>
        </div>
        <div class="button-upload mx-auto mb-3">
          <button class="btn btn-warning text-center text-light font-weight-bold">{{ upload }}</button>
        </div>
        <div class="upload-info">
          <p class="text-center">
            Ekstensi file yang diperbolehkan
          </p>
          <p class="text-center font-weight-bold">.JPG .JPEG .PNG</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Upload',
  props: [
    'upload'
  ]
}
</script>

<style lang="scss" scoped>
  .upload{
    width: 100%;
  }
  .card{
    border-radius: 8px;
  }
  .upload-info{
    p{
      font-size: 0.8em;
      margin: 0;
    }
  }
  .icon{
    font-size: 7em;
    color: #eaeaea;
  }
</style>
