<template>
  <div class="user-card my-2">
    <div class="card shadow">
      <div class="card-body d-flex">
        <div class="img-profile mr-3">
        </div>
        <div class="description text-left">
          <div class="username font-weight-bold">{{ name }}</div>
          <div class="phone d-flex align-items-center">
            <div class="icon text-warning mr-2">
              <i class="fas fa-mobile-alt"></i>
            </div>
            {{ phone }}
          </div>
          <div class="status d-flex align-items-center">
            <div class="icon text-success mr-2">
              <i class="fas fa-check-circle"></i>
            </div>
            {{ status }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserCard',
  props: [
    'name',
    'phone',
    'status'
  ]
}
</script>

<style lang="scss" scoped>
  .img-profile{
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 50%;
  }
  .phone{
    .icon{
      font-size: 2em;
    }
  }
  .status{
    .icon{
      font-size: 1.3em;
    }
  }
</style>
