<template>
  <div class="user-list mx-2">
    <div class="card shadow">
      <div class="card-body d-flex flex-column">
        <h5 class="text-center font-weight-bold">List Petugas Parkir</h5>
        <UserCard name="Ady Rahmansyah" phone="+6282291676911" status="Aktif" />
        <UserCard name="Ady Rahmansyah" phone="+6282291676911" status="Aktif" />
        <UserCard name="Ady Rahmansyah" phone="+6282291676911" status="Aktif" />
        <UserCard name="Ady Rahmansyah" phone="+6282291676911" status="Aktif" />
        <UserCard name="Ady Rahmansyah" phone="+6282291676911" status="Aktif" />
      </div>
        <Pagination />
    </div>
  </div>
</template>

<script>
import UserCard from '@/components/UserCard.vue'
import Pagination from '@/components/Pagination.vue'

export default {
  name: 'UserList',
  components: {
    UserCard,
    Pagination
  },
  props: [
    'name',
    'phone',
    'status'
  ]
}
</script>

<style lang="scss" scoped>
  .card{
    border-radius: 8px;
  }
  @media screen and (max-width: 992px) {
    .user-list{
      margin: 0 0 30px !important;
    }
  }
</style>
