<template>
  <div id="app">
    <Sidebar />
    <div class="main">
      <Navbar @clicked="showSidebar" />
      <router-view/>
      <Footer />
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Sidebar from '@/components/Sidebar'
import Footer from '@/components/Footer'

export default {
  name: 'App',
  components: {
    Navbar,
    Sidebar,
    Footer
  },
  methods: {
    showSidebar () {
      console.log('hello')
      const sidebar = document.querySelector('.sidebar')
      const main = document.querySelector('.main')
      sidebar.classList.toggle('show')
      main.classList.toggle('hide')
    }
  }
}

</script>
<style lang="scss">
  html, body{
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
  }
  button{
    cursor: pointer;
  }
  a, a:hover{
    color: inherit;
    text-decoration: none;
  }
  .main{
    transition: 1s;
  }
  .show{
    margin-left: 0 !important;
  }
  .hide{
    margin-left: 280px;
  }
  html::-webkit-scrollbar {
    display: none;
  }
</style>
